<div class="container" style="background-color: red;">
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="500"><h1 id="gracias">GRACIAS POR SU COMPRA</h1></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="1500"><img src="../../../assets/fondoo.jpg" width="400" height="400" class="foto"></div>
    </div>
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="1800"><img src="../../../assets/iker-muniain.jpg" width="400" height="400" class="fotoo"></div>
    </div>
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="2000">
        <button class="boton" routerLink="/tienda">SEGUIR COMPRANDO</button>
      </div>
    </div>
  </div>
</div>
