<div class="container" style="background-color: black;">
  <footer>
    <div class="row">
      <div class="col-xl-4">
        <a href="https://www.instagram.com/carter__0/"><img id="imagen" src="../../../assets/instagram.png" width="60" height="60"></a>
      </div>
      <div class="col-xl-4">
        <a href="https://twitter.com/Javier53201752"><img id="imagen2" src="../../../assets/twitter.png" width="60" height="60"></a>
      </div>
      <div class="col-xl-4">
        <a href="https://github.com/JavierRamosLopez-coder?tab=repositories"><img src="../../../assets/github.png" width="100" height="100"></a>
      </div>
    </div>
  </footer>
</div>
