<div class="container" style="background-color: red;">
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="500"><h1 id="camiseta1">CAMISETA 2 EQUIPACIÓN</h1></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="1000"><button class="botonss" routerLink="/local"><img src="../../../assets/arrow-4957487_960_720.png" width="100" height="100"></button></div>
    </div>
    <div class="col-xl-4">
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"><img src="../../../assets/camisetavisitante.png" width="350" height="400" class="foto"></div>
    </div>
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="1000"><button class="botonss" routerLink="/portero"><img src="../../../assets/alante.png" width="100" height="100"></button></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="1500">
        <p id="camiseta">Tanto si estás en el campo como si animas desde las gradas, muestra tu apoyo
          a tu club con la camiseta de manga corta Athletic Club Away de New Balance.
          Con la tecnología NB DRY que absorbe el sudor y el tejido de malla integrado, esta camiseta ayuda a mantenerte
           cómodo con una innnovadora combinación de colores Green Flash y negro.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <p id="talla">Talla : <select>
        <option>TALLA S</option>
        <option>TALLA M</option>
        <option>TALLA XXL</option>
      </select></p>
      <p id="talla">Nombre : <input placeholder="Introduzca el nombre" type="text" required></p>
      <p id="talla">Dorsal : <input placeholder="Introduzca el dorsal" type="number" required></p>
    </div>
    <div class="col-xl-6">
      <button id="compra" routerLink="/compraRealizada">COMPRAR AHORA</button>
    </div>
  </div>
</div>
