<div class="container" style="background-color: red;">
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="500">
        <h1 id="tienda">TIENDA</h1>
      </div>
    </div>
    <div class="col-xl-4">
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"><img src="../../../assets/camisetalocal.png" width="300" height="300"></div>
    </div>
    <div class="col-xl-4">
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"><img src="../../../assets/camisetavisitante.png" width="300" height="300"></div>
    </div>
    <div class="col-xl-4">
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"><img src="../../../assets/camisetaportero.png" width="300" height="300"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="1000"><button id="botons" routerLink="/local">COMPRAR</button></div>
    </div>
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="1000"><button id="botons" routerLink="/visitante">COMPRAR</button></div>
    </div>
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="1000"><button id="botons" routerLink="/portero">COMPRAR</button></div>
    </div>
  </div>
</div>
