<div class="container" style="background-color: red;">
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="500"><h1 id="camiseta1">CAMISETA PORTERO</h1></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="1000"><button class="botonss" routerLink="/visitante"><img src="../../../assets/arrow-4957487_960_720.png" width="100" height="100"></button></div>
    </div>
    <div class="col-xl-4">
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"><img src="../../../assets/camisetaportero.png" width="350" height="400"></div>
    </div>
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="1000"><button class="botonss" disabled><img src="../../../assets/alante.png" width="100" height="100"></button></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="1500">
        <p id="camiseta">Apoya a tu equipo favorito mientras juegas o ves el fútbol con la camiseta de portero Athletic Club
          de manga corta. Fabricada con la tecnología NB DRY que absorbe la humedad y el tejido de malla transpirable,
          esta camiseta de poliéster ofrece una comodidad que dura todo el partido. Tiene un acabado en color asfalto y
          cobre metálico que le da un estilo clásico.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <p id="talla">Talla : <select>
        <option>TALLA S</option>
        <option>TALLA M</option>
        <option>TALLA XXL</option>
      </select></p>
      <p id="talla">Nombre : <input placeholder="Introduzca el nombre" type="text" required></p>
      <p id="talla">Dorsal : <input placeholder="Introduzca el dorsal" type="number" required></p>
    </div>
    <div class="col-xl-6">
      <button id="compra" routerLink="/compraRealizada">COMPRAR AHORA</button>
    </div>
  </div>
</div>
