<div class="container" style="background-color: red;">
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="500"><h1 id="jugadores">PORTEROS</h1></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="500"><img id="imagen" src="../../../assets/unai-simon-mendibil_M.png"><p id="porteros">1. UNAI SIMÓN</p></div>
    </div>
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/jokin-ezkieta-mendiburu_M.png"><p id="porteros">13. JOKIN EZKIETA</p></div>
    </div>
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="3000"><img src="../../../assets/julen-agirrezabala-astulez_M.png"><p id="porteros">26. JULEN AGIRREZABALA</p></div>
    </div>
  </div>
    <div class="row">
      <div class="col-xl-12">
        <div data-aos="fade-right" data-aos-duration="3000"><h1 id="jugadores">DEFENSAS</h1></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="500"><img src="../../../assets/alexander-petxarroman-eizagirre_M.png"><p id="porteros">2. ÁLEX PETXARROMAN</p></div>
      </div>
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/unai-nunez-gestoso_M.png"><p id="porteros">3. UNAI NÚÑEZ</p></div>
      </div>
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="3000"><img src="../../../assets/inigo-martinez-berridi_M.png"><p id="porteros">4. ÍÑIGO MARTÍNEZ</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="500"><img src="../../../assets/yeray-alvarez-lopez_M.png"><p id="porteros">5. YERAY ÁLVAREZ</p></div>
      </div>
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/daniel-vivian-moreno_M.png"><p id="porteros">12. DANI VIVIAN</p></div>
      </div>
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="3000"><img src="../../../assets/inigo-lekue-martinez_M.png"><p id="porteros">15. ÍÑIGO LEKUE</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="500"><img src="../../../assets/yuri-berchiche-izeta_M.png"><p id="porteros">17. YURI BERCHICHE</p></div>
      </div>
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/oscar-de-marcos-arana_M.png"><p id="porteros">18. ÓSCAR DE MARCOS</p></div>
      </div>
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="3000"><img src="../../../assets/ander-capa-rodriguez_M.png"><p id="porteros">21. ÁNDER CAPA</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/mikel-balenziaga-oruesagasti_M.png" id="desplazamiento"><p id="porteros">24. MIKEL BALENZIAGA</p></div>
      </div>
      <div class="col-xl-6">
        <div data-aos="fade-right" data-aos-duration="3000"><img src="../../../assets/aitor-paredes-casamichana_M.png" id="desplazamiento"><p id="porteros">31. AITOR PAREDES</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div data-aos="fade-right" data-aos-duration="3000"><h1 id="jugadores">CENTROCAMPISTAS</h1></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="500"><img src="../../../assets/mikel-vesga-arruti_M.png"><p id="porteros">6. MIKEL VESGA</p></div>
      </div>
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/oihan-sancet-tirapu_M.png"><p id="porteros">8. OIHAN SANCET</p></div>
      </div>
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="3000"><img src="../../../assets/daniel-garcia-carrillo_M.png"><p id="porteros">14. DANI GARCÍA</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="500"><img src="../../../assets/unai-vencedor-paris_M.png"><p id="porteros">16. UNAI VENCEDOR</p></div>
      </div>
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/oier-zarraga-egana_M.png"><p id="porteros">19. OIER ZARRAGA</p></div>
      </div>
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="3000"><img src="../../../assets/benat-prados-diaz_M.png"><p id="porteros">32. BEÑAT PRADOS</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div data-aos="fade-right"  data-aos-duration="3000"><h1 id="jugadores">DELANTEROS</h1></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="500"><img src="../../../assets/alejandro-berenguer-remiro_M.png"><p id="porteros">7. ÁLEX BERENGUER</p></div>
      </div>
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/inaki-williams-arthuer_M.png"><p id="porteros">9. IÑAKI WILLIAMS</p></div>
      </div>
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="3000"><img src="../../../assets/iker-muniain-goni_M.png"><p id="porteros">10. IKER MUNIAIN</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="500"><img src="../../../assets/asier-villalibre-molina_M.png"><p id="porteros">20. ASIER VILLALIBRE</p></div>
      </div>
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/raul-garcia-escudero_M.png"><p id="porteros">22. RAÚL GARCÍA</p></div>
      </div>
      <div class="col-xl-4">
        <div data-aos="fade-right" data-aos-duration="3000"><img src="../../../assets/nicholas-williams-arthuer_M.png"><p id="porteros">30. NICO WILLIAMS</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/nicolas-serrano-galdeano_M.png" id="desplazamiento"><p id="porteros">33. NICO SERRANO</p></div>
      </div>
      <div class="col-xl-6">
        <div data-aos="fade-right" data-aos-duration="3000"><img src="../../../assets/juan-artola-canales_M.png" id="desplazamiento"><p id="porteros">34. JUAN ARTOLA</p></div>
      </div>
    </div>
</div>
