<div class="container" style="background-color: red;">
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="500"><h1 id="historia">HISTORIA DEL CLUB</h1></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="1000">
        <p class="fecha">1890-1899</p>
      </div>
    </div>
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="1500">
        <p id="intro">Nace el Athletic Club</p>
      </div>
    </div>
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="1500">
        <p class="athletic">
          El fútbol surge en Bizkaia durante la industrialización que experimentan Bilbao y su entorno a finales del siglo XIX.
          Británicos afincados en el territorio y jóvenes vizcaínos que han estudiado en las Islas son sus precursores.
          El entusiasmo por el nuevo sport impulsa en 1898 el nacimiento del Athletic Club.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="2000">
        <img src="../../../assets/athletic-historia-surgir-480x320.jpg" width="400" height="250">
      </div>
    </div>
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="2000">
        <img src="../../../assets/athletic-historia-san-mames-480x320.jpg" width="400" height="250">
      </div>
    </div>
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="2000">
        <img src="../../../assets/athletic-historia-1liga-doblete-480x320.jpg" width="400" height="250">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="1000">
        <p class="fecha">1900-1909</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="1500">
        <p id="intro">Primeros títulos</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="1500">
        <p class="athletic">Los partidos en Lamiako y las primeras Copas</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="1500">
        <p id="intro">Estreno con triunfo</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="1500">
        <p class="athletic">Los jugadores del Athletic disputan sus partidos en Lamiako (Leioa).
          En 1902 estrenan camiseta blanquiazul, debutan en el extranjero y ganan el primer título de la competición:
          la Copa Coronación Alfonso XIII. El Club inscribe sus Estatutos, integra al Bilbao FC y crea
          el Athletic Club Sucursal de Madrid.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/athletic-1901-primeros-estatutos-480x357.jpg" width="400" height="300"></div>
    </div>
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/athletic-1902-primer-escudo-480x480.jpg" width="400" height="300"></div>
    </div>
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/athletic-1902-primer-titulo.jpg" width="400" height="300"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="1000">
        <p class="fecha">1910-1919</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="1000">
        <p id="intro">De rojo y blanco</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="1000">
        <p class="athletic">Se inaugura San Mamés</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="1000">
        <p id="intro">Sin extranjeros en la alineación</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right" data-aos-duration="1000">
        <p class="athletic">Los jugadores del Athletic estrenan camiseta rojiblanca y el Club decide competir sin extranjeros.
          El equipo abandona Lamiako y, tras el breve paréntesis de Jolaseta (Getxo), en 1913 se instala definitivamente en
          Bilbao, en San Mamés: La Catedral. Ese año se fundan las Federaciones de fútbol.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="2000">
        <img src="../../../assets/athletic-1910-estreno-camiseta-rojiblanca-480x333.jpg" width="400" height="250" >
      </div>
    </div>
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="2000">
        <img src="../../../assets/athletic-1911-futbolistas-vascos-480x301.jpg" width="400" height="250">
      </div>
    </div>
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="2000">
        <img src="../../../assets/athletic-1913-inauguracion-san-mames-1.jpg" width="400" height="250">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="1500">
        <p class="athletic">Estreno de la camiseta rojiblanca en el partido Irun Sporting Club – Athletic Club.</p>
      </div>
    </div>
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="1500">
        <p class="athletic">El Athletic Club prescinde de jugadores extranjeros y apuesta por competir con futbolistas vascos.</p>
      </div>
    </div>
    <div class="col-xl-4">
      <div data-aos="fade-right" data-aos-duration="1500">
        <p class="athletic">Inauguración de San Mamés: Athletic Club – Real Racing Club de Irun.</p>
      </div>
    </div>
  </div>
</div>
