<div class="container" style="background-color: red;">
  <div class="row">
    <div class="col-xl-12">
      <div data-aos="fade-right"><p id="porteros">PALMARÉS</p></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="500"><img src="../../../assets/ligas.png" id="desplazamiento"></div>
    </div>
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="1000"><p id="parrafo">CAMPEONATOS DE<b> LIGA</b></p><p id="titulo">8 TÍTULOS DE LA LIGA 1ª DIVISIÓN</p></div>
    </div>
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/liga.png" height="200"></div>
    </div>
    <div class="col-xl-2">
      <div data-aos="fade-right" data-aos-duration="3000"><img src="../../../assets/ganadorLiga.jpeg" width="250" height="180"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="500"><img src="../../../assets/copas.png" id="desplazamiento"></div>
    </div>
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="1000"><p id="parrafo">CAMPEONATOS DE<b> COPA</b></p><p id="titulo">24 TÍTULOS DE COPA</p></div>
    </div>
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/league-cup.png" height="200" class="imagen"></div>
    </div>
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="3000"><img src="../../../assets/league-cup-champion.jpg" width="250" height="180"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="500"><img src="../../../assets/supercopas.png" id="desplazamiento"></div>
    </div>
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="1000"><p id="parrafo">TÍTULOS DE <b>SUPERCOPA</b></p><p id="titulo">3 TÍTULOS DE SUPERCOPA</p></div>
    </div>
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/supercup.png" height="200" class="imagen"></div>
    </div>
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="3000"><img src="../../../assets/supercup-champion.jpg" width="250" height="180"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="500"><img src="../../../assets/region.png" id="desplazamiento"></div>
    </div>
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="1000"><b><p id="parrafo">CAMPEONATOS REGIONALES</p></b><p id="titulo">18 TÍTULOS REGIONALES</p></div>
    </div>
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/campeonato-regional.png"></div>
    </div>
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="3000"><img src="../../../assets/campeonato-regional-champion.jpg" width="250" height="170"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="500"><img src="../../../assets/1.png" id="desplazamiento"></div>
    </div>
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="1000"><p id="parrafo">CAMPEONATO DE COPA <b>EVA DUARTE</b></p><p id="titulo">1 TÍTULO DE LA PRECURSORA DE LA ACTUAL SUPERCOPA</p></div>
    </div>
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="2000"><img src="../../../assets/eva-duarte-cup.png" height="200" class="imagen"></div>
    </div>
    <div class="col-xl-3">
      <div data-aos="fade-right" data-aos-duration="3000"><img src="../../../assets/eva-duarte-cup-champion.jpg" width="250" height="170"></div>
    </div>
  </div>
</div>
