<div class="container" style="background-color: red;">
  <div class="row">
    <div class="col-xl-12">
      <h2 id="plantilla">Conoce a nuestra plantilla actual y a nuestra antigua plantilla</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <img src="https://s1.eestatic.com/2021/01/18/deportes/futbol/552204779_170648222_1024x576.jpg" width="650" height="350">
    </div>
    <div class="col-xl-6">
      <img src="https://pbs.twimg.com/media/EVZKlJdXYAANtQ2.png" width="625" height="350">
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <h2 id="filosofia">Conoce nuestra filosofía única en todo el mundo</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5">
      <img src="https://p4.wallpaperbetter.com/wallpaper/832/1021/231/soccer-athletic-bilbao-emblem-logo-hd-wallpaper-preview.jpg" width="500" height="350" class="imagen">
    </div>
    <div class="col-xl-7">
      <h2 class="informacion">El Athletic Club como institución, así como el conjunto de sus seguidores, se caracterizan por la defensa de unos valores
        cada vez menos frecuentes en el fútbol y en el deporte del siglo XXI. El orgullo por lo propio, reflejado en su máxima expresión con su política de
         cantera, marca la diferencia con cualquier otra filosofía o manera de entender el fútbol en todo el mundo.
        El Athletic Club está radicado en Bilbao, provincia de Bizkaia (País Vasco). Nuestra filosofía deportiva se rige por el principio que determina que
        pueden jugar en sus filas los jugadores que se han hecho en la propia cantera y los formados en clubes de Euskal Herria, que engloba a las siguientes
        demarcaciones territoriales: Bizkaia, Gipuzkoa, Araba, Nafarroa, Lapurdi, Zuberoa y Nafarroa Behera, así como, por supuesto, los jugadores y jugadoras
         que hayan nacido en alguna de ellas.</h2>
    </div>
  </div>
</div>
